[submodule "vim/vim.symlink/bundle/surround"]
	path = vim/vim.symlink/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim.symlink/bundle/repeat"]
	path = vim/vim.symlink/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/vim.symlink/bundle/unimpaired"]
	path = vim/vim.symlink/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/rails"]
	path = vim/vim.symlink/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/bundler"]
	path = vim/vim.symlink/bundle/bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim/vim.symlink/bundle/eunuch"]
	path = vim/vim.symlink/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/vim.symlink/bundle/abolish"]
	path = vim/vim.symlink/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/vim.symlink/bundle/speeddating"]
	path = vim/vim.symlink/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/vim.symlink/bundle/git"]
	path = vim/vim.symlink/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/vim.symlink/bundle/endwise.vim"]
	path = vim/vim.symlink/bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
